@import url("https://fonts.googleapis.com/css?family=VT323");
body {
    background: radial-gradient(circle at 0 0, #ecc6d8, #fec4c4, #feecce, #fff6c9, #ccfcc3, #b3bded);
    height: 100vh;
    width: 100vw;
}

h1 {
    bottom: 2em;
    font-family: 'VT323', 'Courier New', monospace;
    font-size: 2.6em;
    left: 2em;
    position: absolute;
}

[class*='parrot'] {
    position: absolute;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.parrot-1 {
    background-image: url("http://cultofthepartyparrot.com/parrots/hd/parrot.gif");
}

.parrot-2 {
    background-image: url("http://cultofthepartyparrot.com/parrots/gothparrot.gif");
}

.parrot-3 {
    background-image: url("http://cultofthepartyparrot.com/parrots/oldtimeyparrot.gif");
}

.parrot-4 {
    background-image: url("http://cultofthepartyparrot.com/parrots/partyparrot.gif");
}

.parrot-5 {
    background-image: url("http://cultofthepartyparrot.com/parrots/parrotcop.gif");
}

.parrot-6 {
    background-image: url("http://cultofthepartyparrot.com/parrots/fastparrot.gif");
}

.parrot-7 {
    background-image: url("http://cultofthepartyparrot.com/parrots/slowparrot.gif");
}

.parrot-8 {
    background-image: url("http://cultofthepartyparrot.com/parrots/fiestaparrot.gif");
}

.parrot-9 {
    background-image: url("http://cultofthepartyparrot.com/parrots/pizzaparrot.gif");
}

.parrot-10 {
    background-image: url("http://cultofthepartyparrot.com/parrots/chillparrot.gif");
}

.parrot-11 {
    background-image: url("http://cultofthepartyparrot.com/parrots/blondesassyparrot.gif");
}

.parrot-12 {
    background-image: url("http://cultofthepartyparrot.com/parrots/parrotmustache.gif");
}

.parrot-13 {
    background-image: url("http://cultofthepartyparrot.com/parrots/hd/christmasparrot.gif");
}

.parrot-14 {
    background-image: url("http://cultofthepartyparrot.com/parrots/witnessprotectionparrot.gif");
}

.parrot-15 {
    background-image: url("http://cultofthepartyparrot.com/parrots/matrixparrot.gif");
}

.parrot-16 {
    background-image: url("http://cultofthepartyparrot.com/parrots/hd/prideparrot.gif");
}

.parrot-17 {
    background-image: url("http://cultofthepartyparrot.com/parrots/hd/revolutionparrot.gif");
}

.parrot-18 {
    background-image: url("http://cultofthepartyparrot.com/parrots/confusedparrot.gif");
}

.parrot-19 {
    background-image: url("http://cultofthepartyparrot.com/parrots/hd/beretparrot.gif");
}

.parrot-20 {
    background-image: url("http://cultofthepartyparrot.com/parrots/coffeeparrot.gif");
}
